
/* 二级菜单 */

/* products */
.mega-menu__content {
    display: flex;
    justify-content: center;
    padding: 40px 20px 60px;
}

.product-collection-lists {
    width: 70%; /* 增加宽度百分比，从60%改为70%或更高 */
    max-width: 1100px; /* 增加最大宽度限制，从900px改为更大的值 */
    min-width: 735px; /* 可以保留或根据需要调整 */
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #e8e9eb;
    padding-right: 20px;
}

.collection-item-link {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.collection-item-link {
    font-size: 18px;
    color: #121212 !important;
    text-decoration: none;
}

.collection-item-link:hover {
    color: #e10800 !important;
}

.collection-item--line {
    display: block !important;
    width: 100%;
    height: 1px;
    background-color: #e6e9eb;
    margin: clamp(15px, 2.083vw, 40px) 0;
}

.product-collection-lists .collection-item--line:last-child {
    display: none !important;
}

.banner-item {
    display: block;
}

.banner-item img {
    width: 100%;
    height: auto;
}

/* products */